
html, body {
    margin: 0;
    padding: 0;
    background: url("../images/latest-paint-colours-living-room-best-cars-reviews_113986.jpg") #222 no-repeat fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.input-contain {
    background: #edd8c7;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    z-index: 10;
    padding: 60px 60px 20px ;
    left: 20%;
    margin-left: -230px;
    opacity: 0.85;
    border-radius: 20px;
}
h2 {
    text-align: center;
    font-size: 18px;
    color: #4e3332;
    letter-spacing: 0.061em;
    margin-top: 30px;
    margin-bottom: 25px;
}
.success {
     color: #356e64;
     margin-top: -40px;
     margin-bottom: 0;
     padding: 0;
 }

p.success-dialog {
    margin-top: -150px;
    color: #356e64;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.8em;
    text-transform: uppercase;
}
a {
    color: #9d775f;
    text-decoration: none;
    transition: 0.8s all ease;
}
a:hover {
     color: #c08159;
     transition: 0.4s all ease;
 }
input, textarea {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #faf5f3;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
}
input:focus, textarea:focus {
     border: 1px solid #d6312d;
     outline: none;
     appearance: none;
 }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background: #d6312d;
    color: #fff;
    width: 101%;
    transition: 0.8s all ease;
}
.submit:hover {
     background: #e12920;
    border: 1px solid #e12924;
    font-size: 14px;
     transform: translateY(1px);
     transition: 0.4s all ease;
 }
#firstname {margin-top: 0px;}

#nom {margin-top: -25px;}

.circle {
    padding: 15px;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 20;
    border-radius: 50%;
    clear: both;
    opacity: 0.8;
    top: 10px;
    left: 200px;
}
.circle img{
    margin-left: -25px;
}
circle-quill {
    border: 1px solid #faf5f3;
    background: #fff;
}

.circle-paper {
    border: 1px solid #faf5f3;
    background: #faf5f3;
}

.submit-under, .loader, .loader2, .circle-paper, p.success-dialog, h2.success {
    display: none;
}

.submit-under {
    background: #d6312d;
    width: 291px;
    height: 45px;
    position: absolute;
    z-index: -5;
    margin-top: -45px;
    margin-left: 19px;
}
.loader, .loader2 {
    width: 291px;
    height: 45px;
    position: absolute;
    z-index: -5;
    margin-top: -45px;
    margin-left: 19px;

}













ol,ul {
    list-style:none;
}
.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow:after {
    content: '';
    background: transparent url('') repeat top left;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.slideshow li div h3 {
    font-family: "helvetica neue", helvetica;
    text-transform: uppercase;
    font-size: 80px;
    padding: 0;
    line-height: 200px;
    color: rgba(255,255,255, 0.8);
}
.slideshow li:nth-child(1) span { background-image: url('../images/latest-paint-colours-living-room-best-cars-reviews_113986.jpg') }
.slideshow li:nth-child(2) span {
    background-image: url(https://25.media.tumblr.com/aff8a8a33156a0eda844140764fd4359/tumblr_mzgz3tBAAU1st5lhmo1_1280.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url('https://24.media.tumblr.com/f87b54bbce49e59debf7606662f54862/tumblr_n0hpxxDOJ91st5lhmo1_1280.jpg');
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
    background-image: url(https://24.media.tumblr.com/0df0b55a4615378cf593241bad80a7da/tumblr_n0hpwpZrVc1st5lhmo1_1280.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
    background-image: url("../images/background.png");
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
    background-image: url("../images/sidebar-header.png");
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1);
    }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
    0% {
        opacity: 0;
        -moz-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -moz-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
    0% {
        opacity: 0;
        -o-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -o-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -o-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -o-transform: scale(10);
    }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
    0% {
        opacity: 0;
        -ms-transform: translateY(200px);
    }
    8% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100% { opacity: 0 }
}
@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    8% {
        opacity: 1;
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        transform: scale(1);
    }
    19% { opacity: 0 }
    25% {
        opacity: 0;
        transform: scale(10);
    }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
    opacity: 1;
}
@media screen and (max-width: 1140px) {
    .slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) {
    .slideshow li div h3 { font-size: 50px }
}